{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Бронирование номера
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/up_add_order.css' %}?123">
{% endblock %}

{% block nav %}
    <span class="nav_info">{{ login }}</span>
    <a href="{% url 'user_panel' %}" class="nav_button">В ЛИЧНЫЙ КАБИНЕТ</a>

{% endblock %}

{% block content %}
    <form id="form_goback" action="{% url 'up_add_order' %}" method="post" class="nav_form">
        {% csrf_token %}
        <input type="hidden" name="checkindate" value="{{ checkindate }}">
        <input type="hidden" name="checkoutdate" value="{{ checkoutdate }}">
        <input type="hidden" name="numberofguests" value="{{ numberofguests }}">
        <input type="hidden" name="goback" value="True">
    </form>
    <div class="title">Бронирование номера</div>
    <form onsubmit="return catchSubmit(event)" id="form_add" action="{% url 'addorder_action' %}" method="post">
        {% csrf_token %}
        <div class="addorder1_dates">
            <div class="addorder1_date">
                <span class="addorder1_date_comm">Дата заселения:</span>
                <input type="date" class="dateinput input_disabled" name="checkindate" value="{{ checkindate }}" readonly>
            </div>
            <div class="addorder1_date">
                <span class="addorder1_date_comm">Дата выселения:</span>
                <input type="date" class="dateinput input_disabled" name="checkoutdate" value="{{ checkoutdate }}" readonly>
            </div>
        </div>
        <div class="addorder1_numberofguests_input_block">
            <input type="number" class="textinput addorder1_numberofguests_input input_disabled" name="numberofguests" value="{{ numberofguests }}" readonly>
        </div>
        <div class="order_title">Класс номера:</div>
        <div class="order_title_comment">(наведите на класс для получения доп. информации)</div>
        <div class="order_title_comment">(цена указана за одну ночь)</div>
        <div class="addorder2_block">
            {% for el in roomclass_list %}
                <label title="{{ el.comment }}"><input type="radio" name="roomclass" value="{{ el.roomclassid }}" required> {{ el.name }} ({{ el.cost }} руб.)</label>
            {% endfor %}
        </div>
        <div class="order_title mt10">Тип питания:</div>
        <div class="order_title_comment">(наведите на тип для получения доп. информации)</div>
        <div class="order_title_comment">(цена указана за одну ночь на одного человека)</div>
        <div class="addorder2_block">
            {% for el in foodtype_list %}
                <label title="{{ el.comment }}"><input type="radio" name="foodtype" value="{{ el.foodtypeid }}" required> {{ el.name }} ({{ el.cost }} руб.)</label>
            {% endfor %}
        </div>
        <div class="order_title mt10">Дополнительные услуги:</div>
        <div class="order_title_comment">(цена указана за одну ночь)</div>
        <div class="addorder2_block">
            {% for el in addservicetype_list %}
                <label><input type="checkbox" name="addservicetypes" value="{{ el.addservicetypeid }}"> {{ el.name }} ({{ el.cost }} руб.)</label>
            {% endfor %}
        </div>
        <div class="order_title mt10">Способ оплаты:</div>
        <div class="addorder2_block">
            {% for el in paymenttype_list %}
                <label><input type="radio" name="paymenttype" value="{{ el.paymenttypeid }}" required> {{ el.name }}</label>
            {% endfor %}
        </div>
    </form>
    <div class="buttonbox">
        <button type="submit" form="form_goback" class="btn">Назад</button>
        <button type="submit" form="form_add" class="btn">Далее</button>
    </div>
{% endblock %}

{% block script %}
    <script>
        const room_costs = [{% for el in roomclass_list %}{{ el.cost }}, {% endfor %}];
        const food_costs = [{% for el in foodtype_list %}{{ el.cost }}, {% endfor %}];
        const addservices_costs = [{% for el in addservicetype_list %}{{ el.cost }}, {% endfor %}];
        const days = {{ days }};
        const guests = {{ numberofguests }};
    </script>
    <script src="{% static 'main/js/add_order2.js' %}"></script>
{% endblock %}
