{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Изменить пароль
{% endblock %}

{% block nav %}
    <span class="nav_info">{{ login }}</span>
    <a href="{% url 'user_panel' %}" class="nav_button">В ЛИЧНЫЙ КАБИНЕТ</a>
{% endblock %}

{% block content %}
    <div class="title">Изменить пароль</div>
    <form onsubmit="return catchSubmit(event)" action="{% url 'editpassword_action' %}" method="post">
        {% csrf_token %}
        <div class="form_div">
            <input type="password" name="password_old" placeholder="Старый пароль" class="textinput" id="passinputold" minlength="6" maxlength="30" pattern="[A-Za-z0-9_]+" required>
        </div>
        <div class="form_div">
            <input type="password" name="password_new" placeholder="Новый пароль" class="textinput" id="passinput1" minlength="6" maxlength="30" pattern="[A-Za-z0-9_]+" required>
        </div>
        <div class="form_div">
            <input type="password" placeholder="Повторите новый пароль" class="textinput" id="passinput2" minlength="6" maxlength="30" pattern="[A-Za-z0-9_]+" required>
        </div>
        <button type="submit" class="btn mt10">Изменить пароль</button>
    </form>
{% endblock %}

{% block script %}
    {% if wrongpassword_error == 'True' %}
        <script>show_toast('Введён неверный старый пароль!', 'danger');</script>
    {% endif %}
{% endblock %}
