{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Редактирование заказа
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/up_edit_order.css' %}">
{% endblock %}

{% block nav %}
    <span class="nav_info">{{ login }}</span>
    <a href="{% url 'user_panel' %}" class="nav_button">В ЛИЧНЫЙ КАБИНЕТ</a>
{% endblock %}

{% block content %}
    <div class="title">Редактирование заказа</div>
    <div class="readonly_dates">
        <div class="readonly_date">
            <span class="readonly_comm">Дата заселения:</span>
            <input type="date" class="dateinput input_disabled" value="{{ checkindate }}" readonly>
        </div>
        <div class="readonly_date">
            <span class="readonly_comm">Дата выселения:</span>
            <input type="date" class="dateinput input_disabled" value="{{ checkoutdate }}" readonly>
        </div>
    </div>
    <div class="readonly_numberofguests_input_block">
        <span class="readonly_comm">Количество проживающих:</span>
        <input type="number" class="textinput readonly_numberofguests_input input_disabled mb15" value="{{ numberofguests }}" readonly>
    </div>
    <div class="roomclass">
        <span class="readonly_comm">Класс номера:</span>
        <div class="order_title_comment">(наведите на класс для получения доп. информации)</div>
        <div class="order_title_comment">(цена указана за одну ночь)</div>
        <label class="input_disabled" title="{{ room.classcomment }}">
            <input type="radio" checked readonly>{{ room.classname }} ({{ room.classcost }} руб.)
        </label>
    </div>
    <form action="{% url 'editorder_action' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="orderid" value="{{ orderid }}" readonly>
        <div class="order_title mt10">Тип питания</div>
        <div class="order_title_comment">(наведите на тип для получения доп. информации)</div>
        <div class="order_title_comment">(цена указана за одну ночь на одного человека)</div>
        <div class="editorder_block">
            {% for el in foodtype_list %}
                <label title="{{ el.comment }}"><input type="radio" name="foodtype" value="{{ el.foodtypeid }}" {% if el.foodtypeid == foodtypeid_check %}checked{% endif %} required> {{ el.name }} ({{ el.cost }} руб.)</label>
            {% endfor %}
        </div>
        <div class="order_title mt10">Дополнительные услуги:</div>
        <div class="order_title_comment">(цена указана за одну ночь)</div>
        <div class="editorder_block">
            {% for el in addservicetype_list %}
                <label><input type="checkbox" name="addservicetypes" value="{{ el.addservicetypeid }}" {% if el.addservicetypeid in addservicetypeid_check %}checked{% endif %}> {{ el.name }} ({{ el.cost }} руб.)</label>
            {% endfor %}
        </div>
        <div class="order_title mt10">Способ оплаты:</div>
        <div class="editorder_block">
            {% for el in paymenttype_list %}
                <label><input type="radio" name="paymenttype" value="{{ el.paymenttypeid }}" {% if el.paymenttypeid == paymenttypeid_check %}checked{% endif %} required> {{ el.name }}</label>
            {% endfor %}
        </div>
        <button type="submit" class="btn">Сохранить</button>
    </form>
{% endblock %}
