.personalinfo_block {
    border-bottom: 1px solid darkgray;
    padding-bottom: 20px;
}

.personalinfo {
    font-size: 24px;
    text-align: center;
}

.personalinfo_left {
    font-weight: bold;
}

.personalinfo_button {
    font-size: 20px;
    text-align: center;
    margin: 20px auto 5px;
}

.personalinfo_button_a {
    padding: 10px 20px 10px;
    background-color: #1a5475;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.personalinfo_button_a:hover {
    background-color: #114765;
}

.personalinfo_button_a:active {
    background-color: #093148;
}

.orders_empty {
    display: block;
    margin: 0 auto;
    height: 200px;
}

.order_active {
    display: flex;
    width: 800px;
    border-radius: 20px;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 10px auto 0;
}

.order_nonactive {
    display: flex;
    width: 800px;
    border-radius: 20px;
    background-color: lightcoral;
    border: 2px solid black;
    margin: 10px auto 0;
}

.order_editable {
    height: 213px;
}

.order_noneditable {
    height: 148px;
}

.order_left, .order_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.order_left_div, .order_right_div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.order_title {
    font-size: 20px;
    font-weight: bold;
}

.order_text {
    font-size: 20px;
}

.order_button_div {
    margin-top: 8px;
}

.order_button {
    font-size: 24px;
    font-family: "Montserrat Alternatives";
    font-weight: normal;
    padding: 10px 15px;
    background-color: #1a5475;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.order_button:hover {
    background-color: #114765;
}

.order_button:active {
    background-color: #093148;
}

@keyframes anim1 {
    from {
        background-color: lightgreen;
    }
    50% {
        background-color: #66a466;
    }
    to {
        background-color: lightgreen;
    }
}

@keyframes anim2 {
    from {
        background-color: lightcoral;
    }
    50% {
        background-color: #b76060;
    }
    to {
        background-color: lightcoral;
    }
}

.anim_active {
    animation: anim1 2s;
}

.anim_nonactive {
    animation: anim2 2s;
}